@import '../../styles/settings';

.footer {
  //position: absolute;
  //bottom: 0;
  width: span(12);
  background-image: url('../../images/footer/footer-max640.jpg');
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  text-align: center;
  font-size: $base-font-size;
  padding: $base-line-height * 1.1;
  color: $primary-color;
}

@include susy-breakpoint($third-breakpoint) {
  .footer {
    background-image: url('../../images/footer/footer-640-960.jpg');
  }
}

@include susy-breakpoint($fourth-breakpoint) {
  .footer {
    background-image: url('../../images/footer/footer-more-than960.jpg');
  }
}

@include susy-breakpoint($fifth-breakpoint) {
  .footer {
    background-size: 100% 100%;
  }
}