@import '../../styles/settings';
@import '../../styles/animation';

.mainMenuMobileHeader {
  .mainMenuLabel {
    width: span(12);
    height: $base-font-size * 5;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: $secondary-color;
    border-bottom: 1px solid $primary-color;

    .mainMenuImg {
      width: span(9);
      height: 100%;
      display: inline-block;
      text-align: left;

      img {
        height: $base-font-size * 3;
        width: auto;
        margin: $base-font-size * 0.5 0 0 $base-font-size;
      }
    }

    .mainMenuBtn {
      width: span(3);
      display: inline-block;
      text-align: right;

      span {
        cursor: pointer;
        color: $primary-color;
        font-size: $base-font-size * 3.0;
        padding-right: $base-font-size * 1.5;
      }
    }
  }

  .mainMenuContent {
    width: span(12);
    position: fixed;
    height: 100vh;
    background: $secondary-color;
    display: table;
    transform: translateY(-100%);
    transition: transform 1.3s ease-in-out;
    nav {
      text-align: center;
      list-style-type: none;
      display: table-cell;
      vertical-align: middle;
      li {
        font-size: $base-font-size * 2;
        transition: all .4s ease-in-out;
        line-height: $base-line-height * 3;
      }
    }
  }

  .mainMenuOpen {
    transform: translateY(0);
  }
}

@include susy-breakpoint($second-breakpoint) {
  .mainMenuMobileHeader {
    display: none;
  }
}
