@import '../../styles/settings';
@import '../../styles/animation';

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: span(12);
  height: $base-font-size * 5;
  background: $secondary-color;
  font-size: $base-font-size * 1.2;

  .leftMainMenu {
    nav {
      text-align: center;
      list-style-type: none;
      li {
        transition: all .4s ease-in-out;
      }
      li:hover {
        opacity: 0.8;
      }
    }
  }
}

@include susy-breakpoint($smartphones) {
  .wrapper {
    .header {
      background: violet;
    }
  }
}

@include susy-breakpoint($tablets) {
  .wrapper {
    .header {
      background: purple;
    }
  }
}

@include susy-breakpoint($desktop) {
  .wrapper {
    .header {
      background: lavender;
    }
  }
}

@include susy-breakpoint($large-desktop) {
  .wrapper {
    .header {
      background: cornflowerblue;
    }
  }
}
