@import '../../styles/settings';
@import '../../styles/animation';

.header {
  .mainMenuBtn {
    width: span(12);
    position: fixed;
    top: 0;
    z-index: 9999;
    background: $secondary-color;
    text-align: right;
    color: $primary-color;
    font-size: $base-font-size * 2.5;
    padding: $base-font-size * 0.5 $base-font-size;
  }

  .mainMenuContent {
    width: span(12);
    position: fixed;
    height: 100vh;
    background: cadetblue;
    display: table;
    //transform: translateY(-100%);
    //transition: transform 0.3s linear;
    nav {
      text-align: center;
      list-style-type: none;
      display: table-cell;
      vertical-align: middle;
      li {
        font-size: $base-font-size * 2;
        transition: all .4s ease-in-out;
        line-height: $base-line-height * 3;
      }
      li:hover {
        opacity: 0.8;
      }
    }
  }

  .mainMenuOpen {
    transform: translateY(0);
  }
}

@include susy-breakpoint($smartphones) {
  .wrapper {
    .header {
    }
  }
}
