@import '../../styles/settings';

.about-component {
  background-image: url('../../images/about/bcg-below-640.jpg');
  background-repeat: no-repeat;
  background-position: center;

  .para1 {
    font-size: $base-font-size;
    color: red;
  }
}

@include susy-breakpoint($third-breakpoint) {
  .about-component {
    background-image: url('../../images/about/bcg-640-960.jpg');
  }
}

@include susy-breakpoint($fourth-breakpoint) {
  .about-component {
    background-image: url('../../images/about/bcg-960-1280.jpg');
  }
}

@include susy-breakpoint($fifth-breakpoint) {
  .about-component {
    background-image: url('../../images/about/bcg-over-1280.jpg');
  }
}

@include susy-breakpoint($sixth-breakpoint) {
  .about-component {
    background-size: 100% 100%;
  }
}
