@import '../../styles/settings';

.about-component {
  background: linear-gradient(to top, black, white);
  width: span(12);
  padding-top: $base-font-size * 5;

  .para1 {
    font-size: $base-font-size;
    color: red;
  }
}
