@import '../../styles/settings';

.about-component {
  background: linear-gradient(to top, black, white);
  width: span(10);

  .para1 {
    font-size: $base-font-size;
    color: red;
  }
  .para2 {
    font-size: $base-font-size * 2;
    color: green;
  }
  .para3 {
    color: $secondary-color;
    font-size: $base-font-size * 3;
  }
  .para4 {
    font-size: $base-font-size * 4;
    color: $primary-color;
  }
}
