@import '../../styles/settings';

.contact-component {
  width: span(12);
  padding-top: $base-font-size * 5;
  padding-bottom: 80px;
  background-image: url('../../images/bcg-640-960.jpg');
  background-repeat: no-repeat;
  background-position: center;

  > div {
    height: 100%;
  }
}
