@import '../../styles/settings';

.contact-component {
  background-image: url('../../images/contact/bcg-below-640.jpg');
  background-repeat: no-repeat;
  background-position: center;

  .section-contact {
    text-align: center;
    p {

    }
  }

  .contact-address {
    background-color: $third-color;
    text-align: center;
    padding: $base-font-size 0;
    margin-bottom: $base-font-size * 15;
    .address, .press {
      margin: $base-font-size * 4 auto;
      p {
        span {
          color: $fourth-color;
        }
      }
    }
  }
}

@include susy-breakpoint($second-breakpoint) {
}

@include susy-breakpoint($third-breakpoint) {
  .contact-component {
    background-image: url('../../images/contact/bcg-640-960.jpg');
  }
}

@include susy-breakpoint($fourth-breakpoint) {
  .contact-component {
    background-image: url('../../images/contact/bcg-960-1280.jpg');

    .contact-address {
      .address, .press {
        margin: $base-font-size auto;
        display: inline-block;
        width: span(6);
      }
    }
  }
}

@include susy-breakpoint($fifth-breakpoint) {
  .contact-component {
    background-image: url('../../images/contact/bcg-over-1280.jpg');
  }
}

@include susy-breakpoint($sixth-breakpoint) {
  .contact-component {
    background-size: 100% 100%;
  }
}
