@import '../styles/settings';
@import '../styles/animation';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  //background: $third-color;
  background: grey;
}

.wrapper {
  //width: span(12);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .footer {
    position: absolute;
    bottom: 0;
    width: span(12);
    background: $secondary-color;
    text-align: center;
    font-size: $base-font-size;
    padding: $base-line-height * 1.5;
    color: $primary-color;
    border-top: 1px solid $primary-color;
  }
}

//@include susy-breakpoint($smartphones) {
//  .wrapper {
//    .header {
//      background: violet;
//    }
//  }
//}
//
//@include susy-breakpoint($tablets) {
//  .wrapper {
//    .header {
//      background: purple;
//    }
//  }
//}
//
//@include susy-breakpoint($desktop) {
//  .wrapper {
//    .header {
//      background: lavender;
//    }
//  }
//}
//
//@include susy-breakpoint($large-desktop) {
//  .wrapper {
//    .header {
//      background: cornflowerblue;
//    }
//  }
//}